@import url(https://fonts.googleapis.com/css2?family=Heebo&family=Lora&display=swap);
:root {
    --primary-color: #5e239d;
    --secondary-color: #f3e8ee;
    --accent1-color: #a37774;
    --accent2-color: #7c90db;

    --heading-font: 'Heebo', sans-serif;
    --paragraph-font: 'Lora', serif;

    --nav-background-color: #ddc4dd;
    --nav-link-color: #102e4a;
    --nav-hover-link-color: #dd1c1a;
    --nav-hover-background-color: #d1abad;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    justify-content:space-around;
    align-items: center;
    display: flex;
}

main {
    max-width: 960px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
/*Class Selectors*/
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    color: var(--primary-color);
    background-color: rgba(255, 255, 240, 0.858);
    top: -10px;
    left: 0;
    right: 0;
    text-align: center;
}

.hero article {
    position: absolute;
    color: #000;
    background-color: rgba(188, 165, 226, 0.858);
    top: 80px;
    left: 0;
    right: 0;
    padding: 1px;
    text-align: center;
}

.hero article img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid #000;
    padding: 3px;
    background-color: #bbb;
    width: 200px;
    height: auto;
}
.rafting{
    max-width: 960px;
}
.rafting h2 {
    display : flex;
    justify-content : center;
}
.raftingimg {
    max-width: 960px;
    display: flex;
    justify-content: center;
}
.raftingimg img {
    height : 100px;
    width : auto;
}

footer {
    padding: 20px;
    background-color: var(--accent1-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 960px;
}